<!DOCTYPE html>
<html>
<head>
    <title>re:Cruit</title>
    <link rel="stylesheet" type="text/css" href="common.css">
    <link rel="stylesheet" type="text/css" href="mypage.css">
</head>
<body>
    <div class="header">
        <a class="logo" href="index.html">re:Cruit</a>

        <span class="user">Hi, Sungwoo<a class="logout" href="index.html">, Logout?</a></span>
    </div>

    <div class="contents">
        <h3>Glad to see you have taken a course. Enter course details.</h3>
        <form action="/studentmypage.html" method="POST">
            <input type="text" name="crcode" placeholder="        Course Code">
            <input type="text" name="crname" placeholder="        Course Name">
            <input type="text" name="crcredit" placeholder="        Course Credit">
            <input type="text" name="crsyllabus" placeholder="        Course Syllabus">
            <input type="text" name="crprofessor" placeholder="        Course Professor">
            <hr/>
            <input type="text" name="crgrade" placeholder="        Your Grade on the Course">
            <input type="text" name="cryeaer" placeholder="        Year you took the course">
            <input type="text" name="crsemester" placeholder="        Semester you took the course">

            <button type="button" name="submit">Add this course and return</button>
        </form>

        <h3>Or, browse through the courses that others have added. Input course details to find best matches.</h3>

        <form action="/studentmypage.html" method="POST">
            <input type="text" name="crcode" placeholder="        Course Code">
            <input type="text" name="crname" placeholder="        Course Name">

            <button type="button" name="submit">Search</button>
        </form>
    </div>

</body>
</html>