<!DOCTYPE html>
<html>
<head>
    <title>re:Cruit</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/common.css', q='abc')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/mypage.css')}}">
</head>
<body>
    <div class="header">
        <a class="logo" href="index">re:Cruit</a>

        <span class="user">Hi, {{name}}<a class="logout" href="index">, Logout?</a></span>
    </div>

    <div class="contents">
        <h3>Glad to see you are offering something. Enter positoin details.</h3>
        <form action="_addposition" method="POST">
            <input type="text" name="pid" placeholder="        Position ID">
            <input type="text" name="name" placeholder="        Position name">
            <input type="text" name="description" placeholder="        Position Description">
            <input type="text" name="required_gpa" placeholder="        Position Required GPA">
            <input type="text" name="code" placeholder="        Position Required Courses">
    
            <button type="submit">Add this position and return</button>
        </form>
    </div>

</body>
</html>