<!DOCTYPE html>
<html>
<head>
    <title>re:Cruit</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/common.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/mypage.css')}}">
</head>
<body>
    <div class="header">
        <a class="logo" href="index">re:Cruit</a>

        <span class="user">Hi, Sungwoo<a class="logout" href="index">, Logout?</a></span>
    </div>

    <div class="contents">
        <h3>Glad to see you are offering something. Enter positoin details.</h3>
        <form action="/studentmypage" method="POST">
            <input type="text" name="wname" placeholder="        Position name">
            <input type="text" name="wdescription" placeholder="        Position Description">
            <input type="text" name="wgpa" placeholder="        Position Required GPA">
            <input type="text" name="wcourses" placeholder="        Position Required Courses">
    
            <button type="button" name="submit">Add this position and return</button>
        </form>
    </div>

</body>
</html>