<!DOCTYPE html>
<html>
<head>
    <title>re:Cruit</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="header">
        <a class="logo" href="index.html">re:Cruit</a>
    </div>

    <div class="contents">
        <h1>Welcome to re:Cruit</h1>
        <p>re:Cruit makes you easy to find job, and recruit people for the position you offer.</p>
        <hr />

        <div class="left">

        </div>
        <div class="right">
            
        </div>
    
        <h2>Old here? Welcome back!</h2>
        <p>ID: <input type="text" name="userid"></p>
        <p>PW: <input type="password" name="userpw"></p>
    
        <h2>New here? Enroll now!</h2>
        <button> <a href="student"> Student Enroll </a> </button> 
        <button> <a href="company"> Company Enroll  </a> </button> 
    </div>

</body>
</html>