<!DOCTYPE html>
<html lang="en">
<head>
  <h1> CS360 Flask tutorial </h1><br>
</head>

<body>
    <h3> Insert employee's name </h3>
    <form action="/insert" method="post">
    First name: <input type="text" name="FirstName" value="Jennifer"><br>
    Last name: <input type="text" name="LastName" value="Wallace"><br>
    SSN (9-digits): <input type="text" name="Ssn" value="987654321"><br>
    <input type="submit" value="Submit">
    </form>
    <br><br><br>
    <a href="/">Go back</a>
</body>
</html>
