<h2>
    Welcome, student [student_name]! <a href="/">Logout </a> </button> 
</h2>


<h2>
    Your Course List
</h2>
<p>
    you have not added any course yet
</p>
<p>
    Add a Course you took. Tell companies more about your academic abilities.
</p>
<button> <a href="addcourse"> Add Course Now </a> </button> <br>

<h2>
    Your Work List
</h2>
<p>
    You have not added any work yet
</p>
<p>
    Add a Work you did. Tell companies more about your experiences.
</p>
<button> <a href="addwork"> Add Work Now </a> </button> <br>

<h2>
    Messages
</h2>
<p>
    View Messages that Companies might have Sent you
</p>
<button><a href="https://pozangzee.com/home?username=student_name">View Messages</a></button>